@model PropertySite.Models.Property
@using System.Security.Claims;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rent)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.FindFirst(ClaimTypes.NameIdentifier).Value == Model.UserID) {
        <p>
            <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
            <a asp-controller="Enquiry" asp-action="Create" asp-route-id="@Model.ID">Create an Enquiry</a> |
            <a asp-action="Index">Back to List</a>
        </p>
    }else{
        <p>
            <a asp-controller="Enquiry" asp-action="Create" asp-route-id="@Model.ID">Create an Enquiry</a> 
        </p>
    }
</div>
<div>
    <h4>Enquiries</h4>
    @foreach (var item in Model.Enquiries)
    {
        <div>
            <h5>@item.Name</h5>
            <p>@item.Text</p>
        </div>
    }
</div>